<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div onkeyup="countChar()" onkeydown="countChar()" class="field">
		<%= f.text_area :content, placeholder: "Compose new micropost..." %>
	</div>
	<div class="buttonBar">
		<%= f.submit "Post", class: "btn btn-large brn-primary" %>
		<div class="counter" id="counter">	
			0/140
		</div>
	</div>
<% end %>